table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
h1{
    font-family: 'Stick No Bills', sans-serif;
    position: fixed;
    width:100%;
    text-align: center;


}
.container-body{
    margin-top:50px;
}